<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="page <%= 'current bg-blue-500 text-white' if page.current? %> hover:bg-blue-700 text-blue-500 hover:text-white border border-blue-500 rounded-md px-2">
  <%= link_to_unless page.current?, page, url, {remote: remote, rel: page.rel} %>
</span>
