<%#
# Number Form Partial

This partial renders an input element for number attributes.
By default, the input is a text field.

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of [Administrate::Field::Number][1].
  A wrapper around the number pulled from the database.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/Number
%>

<div class="mb-4">
  <%= f.label field.attribute, class: "block text-sm font-medium text-gray-700" %>
  <div class="mt-1">
    <%= f.text_field field.attribute, type: :number, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
  </div>
</div>